.choice {
    position: relative;
    top: 2rem;
    overflow-x: hidden;


    @include responsive(small) {
          top: 44rem;
       }
    
    #row1 {

        .title {

            h2 {
                font-size: 26.5px;
                font-weight: bold;
                margin-top: 0.5rem;
                font-family: 'Coneria Script Demo', sans-serif;
                color: rgb(7, 75, 41);

                @include responsive(small) {
                     font-size: 21px;
                }
            }

            h1 {
                font-family: 'Prompt', sans-serif;
                font-size: 45px;

                @include responsive(small) {
                    font-size: 28.5px;
                }
            }

            .lig {
                background-image: url(./assets/lig.png);
                width: 27rem;
                height: 0.43rem;
                background-repeat: no-repeat;
                margin-left: 43%;
                  
                @include responsive(small) {
                      margin-left: 2%;
                }
            }

        }
    }

    #row2{
        margin-top: 4rem;
        left: 4%;
        position: relative;

        @include responsive(small) {
            margin-top: 2rem;
            left: 0%;
        }

          .box{
             border-radius: 20px;
             margin-left: -1%;
             width: 100%;

             @include responsive(small) {
                margin-left: 15%;
            }

               img{
                height: 14.4rem;
                object-fit: cover;
                border-radius: 50%;
                width: 80%;
                position: relative;
                left: -4%;

               }

               .box_body{
                background-color: rgb(255, 255, 255);
                margin-top: 3rem;
                margin-bottom: 0rem;
                margin-right: 2rem;

                  h5{
                     font-size: 27.4px;
                     font-family: 'exo 2';
                     font-style: italic;
                  }

                  .lig {
                    background-image: url(./assets/lig.png);
                    width: 27rem;
                    height: 0.43rem;
                    background-repeat: no-repeat;
                    margin-left: -83%;
                    transform: rotate(-180deg);
                }

                p{
                    font-size: 19px;
                    font-weight: bold;
                    color: #2c2929;
                }
    

               
               }
          }
    }
}