.guestbook {
    position: relative;
    top: 16.4rem;
    overflow: hidden;
    width: 100%;
    overflow-x: hidden;
    height: 40rem;
    background-image: url(./../../assets/parallax.jpg);
    object-fit: cover;

    @include responsive(small) {
        top: 54rem;
        height: 48rem;
       }

    #row1 {

        .title {

            margin-top: 5rem;
            filter: brightness(150%);

            h2 {
                font-size: 26.5px;
                font-family: 'Coneria Script Demo', sans-serif;
                font-weight: bold;
                color: rgb(7, 75, 41);

                @include responsive(small) {
                    font-size: 21px;
                  }
            }

            h1 {
                font-family: 'Prompt', sans-serif;
                font-size: 45px;

                @include responsive(small) {
                    font-size: 39px;
                 }
            }

            .lig {
                background-image: url(./assets/lig.png);
                width: 27rem;
                height: 0.43rem;
                background-repeat: no-repeat;
                margin-left: 43%;

                @include responsive(small) {
                    margin-left: 2%;
                 }
            }

        }


    }

    #row2 {
        margin-top: 7rem;

        @include responsive(small) {
            margin-top: 12rem;
         }

        #testimonial_area {
            padding: 10% 0;
            position: relative;
            top: -9.5rem;
        }

        .box-area {
            padding: 30px;
            position: relative;
            display: block;
            background: #fff;
            color: #000;
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            margin: 40px 0;

            #quote {
                width: 30px;
                height: 30px;
                position: relative;
                filter: brightness(70%);
                top: 1.7rem;
                left: -0.8rem;
                opacity: calc(2);
            }
        }

        .box-area h5 {
            font-size: 22px;
            color: #0a69ed;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: 'Acme', sans-serif;

            i {
                color: #0a69ed;
                margin-left: 0.5rem;
            }
        }

        .box-area span {
            color: #262626;
            display: block;
            font-size: 15px;
            margin: 0 0 10px;
            font-weight: 400;
        }

        .box-area .content {
            margin-top: 1.5rem;
            color: #262626;
            font-size: calc(0.85rem + 0.4vw);
        }

        .box-area .img-area {
            width: 90px;
            height: 90px;
            position: absolute;
            top: -40px;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            right: 0;
            z-index: 1;
            border: 5px solid #fff;
            border-radius: 50%;
            box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
        }

        .box-area .img-area img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        #testimonial_area .owl-nav {
            position: absolute;
            top: 50%;
            width: 100%;
        }

        #testimonial_area .owl-prev,
        #testimonial_area .owl-next {
            width: 40px;
            height: 40px;
            line-height: 40px;
            color: #0a69ed;
            border-radius: 50%;
            text-align: center;
            background: #fff;
            position: absolute;
            top: -15rem;
        }

        #testimonial_area .owl-prev {
            left: -60px;
            top: -30px;
        }

        #testimonial_area .owl-next {
            right: -60px;
            top: -30px;
        }

        @media only screen and (max-width: 991px) {
            .owl-nav {
                display: none;
            }
        }

        @media only screen and (max-width: 767px) {
            .box-area {
                text-align: center;
            }

            .owl-nav {
                display: none;
            }
        }




    }

    @media screen and (max-width: 575px) {
        .guestbook {
            position: relative;
            top: 10.5rem;
            height: 47rem;
            width: 100%;
            background-repeat: no-repeat;
            object-fit: cover;


            #row2 {

                #testimonial_area {
                    padding: 10% 0;
                    position: relative;
                    top: -1.7rem;
                    overflow: hidden;
                }

                #testimonial_area {
                    padding: 10% 0;
                    position: relative;
                    top: -4.5rem;
                    overflow: hidden;
                }

                .box-area {
                    padding: 30px;
                    position: relative;
                    display: block;
                    background: #fff;
                    color: #000;

                    border-radius: 12px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    margin: 40px 0;

                    #quote {
                        width: 30px;
                        height: 30px;
                        position: relative;
                        top: 3.7rem;
                        left: -0.8rem;
                        opacity: calc(5);
                    }
                }

                .box-area h5 {
                    font-size: 20px;
                    font-weight: 700;
                    color: #0a69ed;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: 'Acme', sans-serif;

                    i {
                        color: #0a69ed;
                        margin-left: 0.5rem;
                    }
                }

                .box-area span {
                    color: #262626;
                    display: block;
                    font-size: 15px;
                    margin: 0 0 10px;
                    font-weight: 400;
                }

                .box-area .content {
                    color: #262626;
                }

                .box-area .img-area {
                    width: 90px;
                    height: 90px;
                    position: absolute;
                    top: -40px;
                    left: 0;
                    bottom: 0;
                    margin: 0 auto;
                    right: 0;
                    z-index: 1;
                    border: 5px solid #fff;
                    border-radius: 50%;
                    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
                }

            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .guestbook {
        position: relative;
        top: 10.5rem;
        height: 37rem;
        width: 100%;
        background-repeat: no-repeat;
        object-fit: cover;

        #row2 {


            #testimonial_area {
                padding: 10% 0;
                position: relative;
                top: 0.5rem;
            }


            @media only screen and (max-width: 991px) {
                .owl-nav {
                    display: none;
                }
            }

            @media only screen and (max-width: 767px) {
                .box-area {
                    text-align: center;
                }

                .owl-nav {
                    display: none;
                }
            }
        }




    }
}