.tours{
    position: relative;
    top: 8.5rem;
    width: 100%;

    #row1 {

        .title {

            margin-top: 5rem;
            filter: brightness(150%);

            h2 {
                font-size: 26.5px;
                font-family: 'Coneria Script Demo', sans-serif;
                font-weight: bold;
                color: rgb(7, 75, 41);
            }

            h1 {
                font-family: 'Prompt', sans-serif;
                font-size: 45px;
            }

            .lig {
                background-image: url(./assets/lig.png);
                width: 27rem;
                height: 0.43rem;
                background-repeat: no-repeat;
                margin-left: 43%;
            }

        }
    }

    #row2{
        position: relative;
        top: 6rem;
        left: 4%;

           .card{
            width: 100%;
            border-radius: 17px;
            height: 27rem;
            margin-left: 0%;

            img{
                height: 14rem;
                border-top-left-radius: 17px;
                border-top-right-radius: 17px;
            }

                 .card-title{
                   font-size: calc(0.7rem + 1.2vw);
                   font-weight: bold;
                   color: $color1;
                    
                 }

                   
                 .card-text{
                    font-size: 20px;
                    margin-top: 0.8rem;
                }

                .lig{
                    width: 60%;
                    margin-left: 1%;
                    height: 4.5px;
                    background-color: $color1;
                    border: 0 solid $color1;
                    border-radius: 20px;
                }

                a{
                    border:  1px solid $color1;
                    border-radius: 20px;
                    color: $color1;
                    font-weight: bold;
                }
           }
    }
}